
body {
    background-image: url('../images/bg.png');
}

h1 {
    padding: 20px 5px 5px 5px;
    color: #333;
    height: 45px;
    margin-top: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    margin-left: 170px;
    background:#4aaaa5;
    color: #ffffff;
    float: left;
  }

  header {   
    padding: 0px;
    margin: 0px 0px 20px 0px;
    width: 100%;
    height: 70px;   
    border-color: #cccccc;
    background:#ffffff;
  }

ol {
    margin-top: 25px;
    margin-left: 415px;
    float: left;
    list-style-type: none;
}

a {
  color: #777777;
  text-decoration: none;
}


li {
    display: inline-block;
}

.ab::after {
    display: inline-block;
    color: #777777;
    content: '|';
    font-size: 80%;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    /*padding: 0 3px;*/
}

 
  section{  
    clear: both;
    overflow: auto;  
    width: 960px;
    height: 600px;
    background: #ebebeb;
    float: left;
    padding: 20px;
    margin-left: 170px;
    margin-bottom: 25px;
  }


h2{ 
  clear:left;
  overflow: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: #ebebeb;
  margin-left: 75px;
  margin-top: 5px;
  width: 75%;
  color: #4aaaa5;
}
.project {
  position: relative;
  text-align: center;
  color: rgb(172, 13, 13);
}
#ab-pic {
  height: 200px;
  width: 150px;
  margin-left: 25px;
  margin-top: 10px;
  float: left;
}

.projImage{
  height: 150px;
  width: 200px;
  margin-left: 50px;
  margin-top: 50px;
  float: left;
}


#label1{
  position: absolute;
  padding: 10px;
  width: 180px;
  color: rgb(22, 63, 3);
  background: #4aaaa5;
  top: 150px;
  left: 50px;
}

#label2{
  position: absolute;
  padding: 10px;
  width: 180px;
  color: rgb(231, 7, 213);
  background: #4aaaa5;
  top: 150px;
  left: 300px;
}

#label3{
  position: absolute;
  padding: 10px;
  width: 180px;
  color: rgb(22, 63, 3);
  background: #4aaaa5;
  top: 150px;
  left: 550px;
}

#label4{
  position: absolute;
  padding: 10px;
  width: 180px;
  color: rgb(22, 63, 3);
  background: #4aaaa5;
  top: 350px;
  left: 50px;
}

#label5{
  position: absolute;
  padding: 10px;
  width: 180px;
  color: rgb(22, 63, 3);
  background: #4aaaa5;
  top: 350px;
  left: 300px;
}

#pg-a{ 
  background: #ebebeb;
  color: #777;
  height: 200px;
  width: 78%;
  padding-top: 5px;
  margin-top: 10px;
  margin-left: 200px;
}

#pg-b{ 
  background: #ebebeb;
  color: #777;
  height: 100px;
  width: 98%;
  padding-top: 5px;
  margin-top: 10px;
  margin-left: 20px;
}
#pg-c{ 
  background: #ebebeb;
  color: #777;
  height: 100px;
  width: 98%;
  padding-top: 5px;
  margin-top: 10px;
  margin-left: 20px;
}

  footer {
    clear:left;
    overflow: auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    background: #666666;
  }


